html,
body {
  margin: 0;
  padding: 0;
  
}

.glass-ceiling-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 800px;
    height: 450px;
    border-radius: 5px;
    background-color: #cccbe4;
    margin:0 auto;
}

.glass-ceiling-page-div {
  background-image: url("../assets/img/Login.svg");
  height: 1500px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.glass-ceiling-page{
height:100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.glass-ceiling-input{
    width: 75%;
    min-height: 35px;
    border-radius:5px;
    margin-top: 22px;
    border-width: 0;
    padding: 10px;
    margin-bottom: 9px;
    font-size: 17px; 
    outline: 0;

}
::placeholder{
    color: rgb(235, 235, 235);
}
.glass-ceiling-button-submit{
    width: 40%;
    padding: 12px;
    min-height: 50px;
    margin-top: 50px;
    outline: 0;
    border: none;
    background-color: #111B47;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    font-size: 17px; 
}

.glass-ceiling-button-submit:hover {
    background-color: "#D6DCF5";
    color: "#111B47";
    cursor: pointer;
  }

.glass-ceiling-text{
    color: #111B47;
    font-size: 50px;  
    font-weight: 700;
    margin-bottom: 15px;    
}

.glass-ceiling-company-selector{
    color: #111B47;
    font-size: 50px;  
    font-weight: 700;
    margin-left: 30.5%;
}
.glass-ceiling-bottom-info{
    padding: 10px;
    color: #111B47;
    font-weight: bold;
}



.glass-ceiling-button-post{
    width: 40%;
    padding: 12px;
    min-height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: 0;
    border: none;
    background-color: #111B47;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    font-size: 17px; 
}

.glass-ceiling-header{
    color: #111B47;
    font-size: 40px;  
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: -30px;
    
}
.glass-ceiling-text2{
    font-size: 18px;
    font-weight: 300;
    color: #393E41;
    text-align: left;
    line-height: 30px;
    margin-top: 10px;
}
.glass-ceiling-button-post:hover {
    background-color: "#D6DCF5";
    color: "#111B47";
    cursor: pointer;
  }




  .glassceiling-reviews {
      margin-top: 70px;
        padding-top:200px;
  }



