html,
body {
  margin: 0;
  padding: 0;

}

.login-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 800px;
    height: 450px;
    transition: 0.3s; 
    border-radius: 5px;
    background-color: #cccbe4;
    padding-top: 30px;
}

.login-page-div {
  background-image: url("../assets/img/Login.svg");
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-page{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -215px;
        margin-left: -400px;
}

.login-input{
    width: 75%;
    min-height: 30px;
    border-radius:5px;
    margin-top: 12px;
    border-width: 0;
    padding: 10px;
    margin-bottom: 9px;
    font-size: 17px; 
    outline: 0;

}
::placeholder{
    color: rgb(235, 235, 235);
}
.login-button-submit{
    width: 40%;
    padding: 12px;
    min-height: 50px;
    margin-top: 50px;
    outline: 0;
    border: none;
    background-color: #111B47;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    font-size: 17px; 
}

.login-button-submit:hover {
    background-color: #D6DCF5;
    color: #111B47;
    cursor: pointer;
  }

.login-text{
    color: #111B47;
    font-size: 40px;  
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: -30px;
    
}
.login-bottom-info{
    padding: 10px;
    color: #111B47;
    font-weight: bold;
}
