html,
body {
  margin: 0;
  padding: 0;

}

.page-div {
  background-image: url("../assets/img/Sign_Up.svg");
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-page{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -310px;
        margin-left: -113px;
}

.input{
    width: 185%;
    min-height: 35px;
    margin-left: -103px;
    border-radius:5px;
    margin-top: 22px;
    border-width: 0;
    padding: 10px;
    margin-bottom: 9px;
    font-size: 17px; 

}
::placeholder{
    color: rgb(235, 235, 235);
}
.button-submit{
    width: 90%;
    padding: 12px;
    min-height: 50px;
    margin-top: 40px;
    outline: 0;
    border: none;
    background-color: #111B47;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    font-size: 17px; 
}

.button-submit:hover {
    background-color: #D6DCF5;
    cursor: pointer;
  }

.sign-up-text{
    color: #111B47;
    font-size: 50px;  
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 13px;
    
}
